img{
    max-width: 100%;
    height: auto;
    background: lightblue;
    background: radial-gradient(white 30%, lightblue 70%);
}

/* .fa-star,
.fa-star-half{
    color: yellowgreen;
    padding: 3% 0;
} */

#cart_count{
    text-align: center;
    padding: 0 0.9rem 0.1rem 0.9rem;
    border-radius: 3rem;
}

.shopping-cart{
    padding: 3% 0;
}

.cart-items + .cart-items{
    padding: 2% 0;
}

/* .price-details h6{
    padding: 3% 2%;
} */

#product1{

  text-align: center;
}

#product1 .pro-container{

  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02);
  margin: 15px 0;
  transition: 0.2s es;
  position: relative;
}
#product1 .pro:hover{

  box-shadow: 20px 20px 30px rgba(0, 0, 0,0.06);

}

#product1 .pro img {

width: 100%;
border-radius: 20px;
}

#product1 .pro .des{

  text-align: start;
  padding-left: 10px 0;
}
#product1 .pro .des span {
color: #6a9acd;
font-size: 12px;
}

#product1 .pro .des h5{
padding-top: 7px;
color: #1a1a1a;
font-size: 14px;

}
#product1 .pro .des i{
  font-size: 12px;
  color: rgba(243, 181, 25);
}
#product1 .pro .des h4{
padding-top: 7px;
font-size: 15px;
font-weight: 700;
color: #6a9acd;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px; /* Centers icon vertically */
  display: inline-block;
  text-align: center; /* Centers icon horizontally */
  border-radius: 50%; /* Makes it a circle */
  color: #6a9acd;
  font-size: 18px; 
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.small-img-group{

display: flex;
justify-content: space-between;

}

.small-img-col{

  flex-basis: 24%;
  cursor: pointer;
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}